marketing-automation/workflows/audit-fraud-detected.json
{
  "name": "Audit: Fraud Detected - Investigation Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "audit-webhook",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-1",
      "name": "Webhook - Audit Alert",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.alertType }}",
              "rightValue": "FRAUD_DETECTED",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-1",
      "name": "Check if FRAUD_DETECTED",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.severity }}",
              "rightValue": "CRITICAL",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-2",
      "name": "Check Severity",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "operation": "update",
        "resource": "user",
        "id": "={{ $json.userId }}",
        "data": {
          "status": "SUSPENDED",
          "suspensionReason": "High fraud risk detected",
          "suspendedAt": "={{ $now }}"
        }
      },
      "id": "supabase-1",
      "name": "Suspend User",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "operation": "cancel",
        "resource": "order",
        "id": "={{ $json.orderId }}"
      },
      "id": "supabase-2",
      "name": "Cancel Pending Orders",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [850, 400]
    },
    {
      "parameters": {
        "from": "security@nexmart.ma",
        "to": "admin@nexmart.ma,fraud-team@nexmart.ma",
        "subject": "🚨 CRITICAL: Fraud Detected - Immediate Action Required",
        "emailType": "html",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n    <style>\n        body { font-family: Arial, sans-serif; }\n        .critical { background: #fee; border: 2px solid #c00; padding: 20px; margin: 20px 0; }\n        .details { background: #f9f9f9; padding: 15px; margin: 10px 0; }\n    </style>\n</head>\n<body>\n    <div class=\"critical\">\n        <h2>🚨 CRITICAL FRAUD ALERT</h2>\n        <p>High-risk fraud activity detected. Immediate action required.</p>\n    </div>\n    \n    <div class=\"details\">\n        <h3>Alert Details:</h3>\n        <ul>\n            <li><strong>User ID:</strong> {{ $json.userId }}</li>\n            <li><strong>Session ID:</strong> {{ $json.sessionId }}</li>\n            <li><strong>Fraud Score:</strong> {{ $json.metadata.fraudScore }}/100</li>\n            <li><strong>Flags:</strong> {{ $json.metadata.reasons.join(', ') }}</li>\n            <li><strong>Time:</strong> {{ $now }}</li>\n        </ul>\n    </div>\n    \n    <p><strong>Actions Taken:</strong></p>\n    <ul>\n        <li>User account suspended</li>\n        <li>Pending orders cancelled</li>\n    </ul>\n    \n    <p>Please review the session replay for full details.</p>\n</body>\n</html>"
      },
      "id": "email-1",
      "name": "Alert Security Team",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "operation": "create",
        "resource": "auditAlert",
        "data": {
          "alertType": "FRAUD_INVESTIGATION",
          "severity": "HIGH",
          "title": "Fraud investigation initiated",
          "description": "Manual review required for user #{{ $json.userId }}",
          "metadata": "={{ $json }}"
        }
      },
      "id": "supabase-3",
      "name": "Create Investigation Alert",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [850, 600]
    }
  ],
  "connections": {
    "Webhook - Audit Alert": {
      "main": [
        [
          {
            "node": "Check if FRAUD_DETECTED",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if FRAUD_DETECTED": {
      "main": [
        [
          {
            "node": "Check Severity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Severity": {
      "main": [
        [
          {
            "node": "Suspend User",
            "type": "main",
            "index": 0
          },
          {
            "node": "Cancel Pending Orders",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Investigation Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Suspend User": {
      "main": [
        [
          {
            "node": "Alert Security Team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cancel Pending Orders": {
      "main": [
        [
          {
            "node": "Alert Security Team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
